<?xml version="1.0"?>

<model>
  <name>IC120 dumper truck base</name>
  <version>1.2.0</version>
  <sdf version='1.9'>IC120_base.sdf</sdf>

  <author>
    <name>Valerii Koshelev</name>
    <email>valerii.koshelev@deepx.co.jp</email>
  </author>
  <license>Copyright 2024 DeepX, Inc. All rights reserved</license>

  <description>
    IC120 dumper truck geometric model
  </description>
</model>
