<?xml version="1.0"?>

<model>
  <name>SV513 vibratory roller</name>
  <version>1.4.0</version>
  <sdf version='1.9'>SV513.sdf</sdf>

  <author>
    <name>Valerii Koshelev</name>
    <email>valerii.koshelev@deepx.co.jp</email>
  </author>
  <license>Copyright 2024 DeepX, Inc. All rights reserved</license>

  <description>
    SV513 vibratory roller model.
  </description>
</model>
