<?xml version="1.0"?>

<model>
  <name>CAT D6XE Bulldozer</name>
  <version>1.4.0</version>
  <sdf version='1.9'>CAT_D6XE_base.sdf</sdf>

  <author>
    <name>Gabriel Taillon</name>
    <email>gabriel.taillon@deepx.co.jp</email>
  </author>
  <license>Copyright 2024 DeepX, Inc. All rights reserved</license>

  <description>
    CAT D6XE Bulldozer geometric model.
  </description>
</model>
